# 2557번
Hello World

In [1]:
print('Hello World!')

Hello World!

# 1000번
A+B

In [2]:
# enter a, b
a, b = map(int, input().split())

# result
print(a+b)

3

# 1001번
A-B

In [3]:
# enter a, b
a, b = map(int, input().split())

# result
print(a-b)

1

# 10998번
AxB

In [4]:
# enter a, b
a, b = map(int, input().split())

# result
print(a*b)

2

# 1008번
A/B

In [5]:
# enter a, b
a, b = map(int, input().split())

# result
print(a/b)

0.3333333333333333

# 10869번
사칙연산

In [6]:
# enter a, b
a, b = map(int, input().split())

# results
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

10
4
21
2
1

# 10926번
??!

In [7]:
# enter id
id = input()

# result
print(id+'??!')

mldlcl2022??!

# 18108번
1998년생인 내가 태국에서는 2541년생?!

In [8]:
# enter year
y = int(input())

# result
print(y-543)

1998

# 10430번
나머지

In [9]:
# enter a, b, c
A, B, C = map(int, input().split())

# results
print((A+B)%C)
print(((A%C)+(B%C))%C)
print((A*B)%C)
print(((A%C)*(B%C))%C)

1
1
0
0

# 2588번
곱셈

In [10]:
# enter numbers
num1 = int(input())
num2 = int(input())

# result
print(num1*(int(str(num2)[-1])))
print(num1*(int(str(num2)[-2])))
print(num1*(int(str(num2)[0])))
print(num1*num2)

2360
3776
1416
181720

# 11382번
꼬마 정민

In [11]:
# enter numbers
a, b, c = map(int, input().split())

# result
print(a+b+c)

7931

# 10171번
고양이

In [12]:
# result
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

# 10172번
개

In [13]:
# result
print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

<>:2: SyntaxWarning: invalid escape sequence '\_'
<>:6: SyntaxWarning: invalid escape sequence '\_'
<>:2: SyntaxWarning: invalid escape sequence '\_'
<>:6: SyntaxWarning: invalid escape sequence '\_'
C:\Users\chan\AppData\Local\Temp\ipykernel_6580\2473079143.py:2: SyntaxWarning: invalid escape sequence '\_'
  print("|\_/|")
C:\Users\chan\AppData\Local\Temp\ipykernel_6580\2473079143.py:6: SyntaxWarning: invalid escape sequence '\_'
  print("||_/=\\\__|")